body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: white;
    height: 100vh;
    width: 65px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid rgba(219,219,219,255);
    z-index:1000;

}

.a-first{
    color: white;
    text-decoration: none;
    margin: 0 0 12px;
    padding: 23px 0;
    text-align: center;
    width: 100%;
}

.a-lasts{
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: 150px;
    flex-grow: 1;
}

@media (max-height: 1208px) {
    .a-lasts {
        padding-top: 50px; /* Adjust padding for smaller screens */
    }
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 12px 0;
    text-align: center;
    width: 100%;
    transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
    transform: scale(1.2);
}


.user{
    width: 24px;
    border-radius: 12px;
}

main{
    display: flex;
    margin-left: 230px;
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories{
    margin-top: 40px;
    display: flex;
    gap: 25px;
}
.story{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.story-bota{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.story-bahr{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.story img{

    width: 55px;
    border-radius: 30px;
}
.story-bahr img{

    width: 55px;
    border-radius: 30px;
}.story-bota img{

     width: 55px;
     border-radius: 30px;
 }
.story p{
    font-size: 12px;
}

.story-bahr p{
    font-size: 12px;
}
.story-bota p{
     font-size: 12px;
 }


.posts{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.post-container{
    display: flex;
    flex-direction: column;
    max-width: 630px;
    justify-content: center;
    margin-bottom: 20px;
}
.post-container img{
    width: 400px;
    border-radius: 5px;
}

.post-top{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.post-top div{
    display: flex;
}

.post-top p{
    margin-top: 7px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

.post-top span{
    padding: 0 5px;
    color: rgba(115, 115, 115, 255);
    font-size: 12px;
}

.post-top img {
    border-radius: 15px;
    width: 30px; /* Set a minimum width */
    height: 30px; /* Set a minimum height */
    cursor: pointer;
}

.post-top-info{
    margin-bottom: 0;
}




.post-under{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

svg{
    cursor: pointer;
}


.post-under a{
    cursor: pointer;
}

.post-under-left{
    display: flex;
    gap: 13px;
}

.post-under-info{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    border-bottom: solid 1px #e0dcdc;
}
.post-under-info div{

    gap: 5px;
    display: flex;
    margin: 0;
    padding: 0;
}

.post-under-info-user-like{
    margin: 10px 0 0 0 ;
    font-weight: bolder;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}
.post-under-info-text{
    margin: 10px 0 0 0 ;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}

input {
    margin-top: 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
}

.like{
    cursor: pointer;
}
.like:active path{
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
}

.info-right{
    margin: 45px 0 0 50px ;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.info-right p{
    font-weight: bold;
    margin-left: 16px;
    font-size: 13px;
    color: rgba(115, 115, 115, 255);
}

.info-right-foot{
    margin-top: 15px;
    margin-left: 20px;
    width: 250px;
}


.info-right img{
    width: 300px;
}
.info-right a{
    color: #e0dcdc;
    font-size: 10px;
}

.info-right-foot-meta{
    color: #e0dcdc;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 900px) {
    .info-right {
        display: none;
    }
    .main{
        margin-left: 0;
    }
    .scroll{
        margin-right: 160px;
    }
    .story-bahr{
        display: none;
    }
    .story-bota{
        display: none;
    }




}